@import '~bootstrap/scss/bootstrap';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



  /* style app */

  .films,.tv{
    text-shadow:  2px 3px  rgba(171,6,15,0.2);
    color: #858585;
  }

  /* style body */

  body{
    background-color: #1b1b1b;
  }



  /* style header */

  .container>*{
    height: 100%;
  }

  .wrapper{
    & button:hover{
      color: #ffffff;
    }
  }

  .search{
    color: #858585;
    cursor: pointer;
    margin: 2%;
    &:hover{
      color: #ffffff;
    }
  }


  

